sylius-import-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!--
        Sylius Product Import Schema — version 2.0
        https://github.com/elcuro/sylius-import-schema

        Design rule — content goes in child elements, not attributes.
        ══════════════════════════════════════════════════════════════
        Every string/text field (name, description, code, slug, value,
        url, path...) lives in a child element so it can be wrapped in
        a CDATA block or contain unescaped quotes, apostrophes and
        ampersands. Attributes are reserved for typed tokens
        (enum, integer, decimal, boolean, locale/currency patterns)
        and document-level metadata (version, default-locale, channel).

        This keeps the format safe for supplier-generated content
        such as "Ben &amp; Jerry's", "L'Oréal", HTML descriptions and
        URLs with query strings.
    -->

    <!-- ═══════════════════════════════════════════
         SIMPLE TYPES
         ═══════════════════════════════════════════ -->

    <xs:simpleType name="LocaleType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{2}_[A-Z]{2}"/>
            <!-- examples: sk_SK, en_US, cs_CZ, de_DE -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CurrencyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}"/>
            <!-- ISO 4217: EUR, CZK, USD, GBP... -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ImageTypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="main"/>
            <xs:enumeration value="additional"/>
            <xs:enumeration value="thumbnail"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ConditionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="new"/>
            <xs:enumeration value="used"/>
            <xs:enumeration value="refurbished"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="PositiveAmount">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <!--
                Amounts are always in the smallest currency unit (cents).
                Example: 119900 = 1,199.00 EUR
            -->
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VatRate">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
            <!--
                VAT rate expressed as a percentage, e.g. 20, 21, 10, 5.5.
                Do not include the % sign.
            -->
        </xs:restriction>
    </xs:simpleType>

    <!-- ═══════════════════════════════════════════
         ROOT ELEMENT
         ═══════════════════════════════════════════ -->

    <xs:element name="sylius-import">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="products" type="ProductsType"/>
            </xs:sequence>
            <!--
                version        — schema version, must be "2.0"
                default-locale — primary content language (sk_SK, en_US...)
                                 used for <translation> elements without a locale attribute
                channel        — optional Sylius channel code
                                 if omitted, the importer uses the default channel
            -->
            <xs:attribute name="version"        type="NonEmptyString" use="required"/>
            <xs:attribute name="default-locale" type="LocaleType"     use="required"/>
            <xs:attribute name="channel"        type="NonEmptyString" use="optional"/>
        </xs:complexType>
    </xs:element>

    <!-- ═══════════════════════════════════════════
         MANIFEST ROOT ELEMENT
         Used when splitting a large export into multiple files.
         The importer processes each file in the order listed.
         Each referenced file must be a valid sylius-import document.
         ═══════════════════════════════════════════ -->

    <xs:element name="sylius-import-manifest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="files" type="ManifestFilesType"/>
            </xs:sequence>
            <!--
                version — schema version, must be "2.0"
            -->
            <xs:attribute name="version" type="NonEmptyString" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="ManifestFilesType">
        <xs:sequence>
            <!--
                Each <file> element contains a single text value — either a
                relative path (resolved against the manifest's location) or an
                absolute http(s) URL pointing to a sylius-import XML file.
                Entries are processed in the order listed.
            -->
            <xs:element name="file" type="NonEmptyString"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         PRODUCTS
         ═══════════════════════════════════════════ -->

    <xs:complexType name="ProductsType">
        <xs:sequence>
            <xs:element name="product" type="ProductType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProductType">
        <xs:sequence>
            <!--
                code          — our internal product code (SKU, UUID...)
                external-code — product code in the supplier's system
                manufacturer  — name of the product manufacturer (e.g. "Apple")

                Rule: at least one of code / external-code must be present.
                      Validated by the importer (XSD 1.0 cannot express this).
            -->
            <xs:element name="code"          type="NonEmptyString" minOccurs="0"/>
            <xs:element name="external-code" type="NonEmptyString" minOccurs="0"/>
            <xs:element name="manufacturer"  type="xs:string"      minOccurs="0"/>
            <xs:element name="translations"  type="ProductTranslationsType"/>
            <xs:element name="taxons"        type="TaxonsType"     minOccurs="0"/>
            <xs:element name="attributes"    type="AttributesType" minOccurs="0"/>
            <xs:element name="images"        type="ImagesType"     minOccurs="0"/>
            <xs:element name="variants"      type="VariantsType"/>
        </xs:sequence>
        <!-- enabled — whether the product is active, default true -->
        <xs:attribute name="enabled" type="xs:boolean" use="optional" default="true"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         PRODUCT TRANSLATIONS
         ═══════════════════════════════════════════ -->

    <xs:complexType name="ProductTranslationsType">
        <xs:sequence>
            <xs:element name="translation" type="ProductTranslationType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProductTranslationType">
        <xs:sequence>
            <!--
                name              — product name, required
                slug              — URL slug; generated from name if omitted
                short-description — short description (plain text)
                description       — long description (HTML allowed; wrap in CDATA
                                    to avoid escaping)
                meta-title        — SEO title; falls back to name if omitted
                meta-description  — SEO meta description
            -->
            <xs:element name="name"              type="NonEmptyString"/>
            <xs:element name="slug"              type="xs:string" minOccurs="0"/>
            <xs:element name="short-description" type="xs:string" minOccurs="0"/>
            <xs:element name="description"       type="xs:string" minOccurs="0"/>
            <xs:element name="meta-title"        type="xs:string" minOccurs="0"/>
            <xs:element name="meta-description"  type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <!--
            locale — translation language (sk_SK, en_US...)
                     if omitted, default-locale from root element is used
        -->
        <xs:attribute name="locale" type="LocaleType" use="optional"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         TAXONS (categories)
         ═══════════════════════════════════════════ -->

    <xs:complexType name="TaxonsType">
        <xs:sequence>
            <xs:element name="taxon" type="TaxonType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <!--
            main — code of the main taxon (reference to a taxon code in this list)
                   if omitted, the first taxon in the list is used
        -->
        <xs:attribute name="main" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="TaxonType">
        <xs:sequence>
            <!--
                code          — our internal taxon code
                external-code — taxon code in the supplier's system
                name          — human-readable taxon name from the supplier

                Rule: at least one of code / name must be present.
                      Validated by the importer.
            -->
            <xs:element name="code"          type="xs:string" minOccurs="0"/>
            <xs:element name="external-code" type="xs:string" minOccurs="0"/>
            <xs:element name="name"          type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         PRODUCT ATTRIBUTES
         ═══════════════════════════════════════════ -->

    <xs:complexType name="AttributesType">
        <xs:sequence>
            <xs:element name="attribute" type="AttributeType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AttributeType">
        <xs:sequence>
            <!--
                code                — our internal attribute code
                name                — human-readable attribute name from the supplier (e.g. "Brand")
                external-code       — attribute name code in the supplier's system

                value               — human-readable attribute value (e.g. "Apple")
                value-code          — value code (our internal code for select type, or supplier's code)
                external-value-code — attribute value code in the supplier's system

                Importer resolution order:
                  1. code present       → used directly as the Sylius code
                  2. name without code  → mapped via configuration
                  3. external-code      → stored for future mapping
            -->
            <xs:element name="code"                type="xs:string" minOccurs="0"/>
            <xs:element name="name"                type="xs:string" minOccurs="0"/>
            <xs:element name="external-code"       type="xs:string" minOccurs="0"/>
            <xs:element name="value"               type="xs:string" minOccurs="0"/>
            <xs:element name="value-code"          type="xs:string" minOccurs="0"/>
            <xs:element name="external-value-code" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         IMAGES
         ═══════════════════════════════════════════ -->

    <xs:complexType name="ImagesType">
        <xs:sequence>
            <xs:element name="image" type="ImageType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ImageType">
        <xs:sequence>
            <!--
                url  — absolute image URL (https://...); ampersands in query
                       strings are safe because this is element content
                path — relative path on disk (used for Sylius to Sylius export)

                Rule: at least one of url / path must be present.
                      Validated by the importer.
            -->
            <xs:element name="url"  type="xs:anyURI" minOccurs="0"/>
            <xs:element name="path" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <!--
            type — image type: main / additional / thumbnail
                   default: additional
        -->
        <xs:attribute name="type" type="ImageTypeType" use="optional" default="additional"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         VARIANTS
         ═══════════════════════════════════════════ -->

    <xs:complexType name="VariantsType">
        <xs:sequence>
            <xs:element name="variant" type="VariantType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VariantType">
        <xs:sequence>
            <!--
                code          — our internal variant code (EAN, variant SKU...)
                external-code — variant code in the supplier's system
                ean           — EAN-13 barcode (e.g. "5901234123457")
            -->
            <xs:element name="code"          type="xs:string" minOccurs="0"/>
            <xs:element name="external-code" type="xs:string" minOccurs="0"/>
            <xs:element name="ean"           type="xs:string" minOccurs="0"/>
            <xs:element name="translation"   type="VariantTranslationType"
                        minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="options"       type="OptionsType"    minOccurs="0"/>
            <xs:element name="price"         type="PriceType"/>
            <xs:element name="stock"         type="StockType"      minOccurs="0"/>
            <xs:element name="dimensions"    type="DimensionsType" minOccurs="0"/>
        </xs:sequence>
        <!--
            enabled   — whether the variant is active, default true
            condition — physical condition: new / used / refurbished, default "new"
        -->
        <xs:attribute name="enabled"   type="xs:boolean"    use="optional" default="true"/>
        <xs:attribute name="condition" type="ConditionType" use="optional" default="new"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         VARIANT TRANSLATIONS
         ═══════════════════════════════════════════ -->

    <xs:complexType name="VariantTranslationType">
        <xs:sequence>
            <!--
                name — variant name, required
                slug — optional; generated by the importer if omitted
            -->
            <xs:element name="name" type="NonEmptyString"/>
            <xs:element name="slug" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <!--
            locale — if omitted, default-locale from root element is used
        -->
        <xs:attribute name="locale" type="LocaleType" use="optional"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         VARIANT OPTIONS (color, size...)
         ═══════════════════════════════════════════ -->

    <xs:complexType name="OptionsType">
        <xs:sequence>
            <xs:element name="option" type="OptionType"
                        minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OptionType">
        <xs:sequence>
            <!--
                code                — our internal option code (e.g. "color")
                name                — human-readable option name from supplier (e.g. "Color")
                external-code       — option name code in the supplier's system

                value               — human-readable option value (e.g. "Red")
                value-code          — option value code
                external-value-code — option value code in the supplier's system
            -->
            <xs:element name="code"                type="xs:string" minOccurs="0"/>
            <xs:element name="name"                type="xs:string" minOccurs="0"/>
            <xs:element name="external-code"       type="xs:string" minOccurs="0"/>
            <xs:element name="value"               type="xs:string" minOccurs="0"/>
            <xs:element name="value-code"          type="xs:string" minOccurs="0"/>
            <xs:element name="external-value-code" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <!--
            locale — language of name/value if different from default-locale
        -->
        <xs:attribute name="locale" type="LocaleType" use="optional"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         PRICE
         ═══════════════════════════════════════════ -->

    <xs:complexType name="PriceType">
        <!--
            Price attributes are all typed (currency pattern / integer / decimal)
            so they stay as attributes — no escaping issues.

            currency  — ISO 4217 currency code (EUR, CZK, USD...)
            amount    — net price (without VAT) in the smallest currency unit (cents)
                        Example: 119900 = 1,199.00 EUR
                        Used when the supplier is a VAT payer and reports net prices.
            vat-amount — gross price (with VAT) in the smallest currency unit (cents)
                        Example: 143880 = 1,438.80 EUR incl. 20 % VAT
            vat       — VAT rate in percent (e.g. 20, 21, 10, 5.5)

            Rules (validated by the importer, XSD 1.0 cannot express them):
              - at least one of amount / vat-amount must be present
              - if vat-amount is present, vat is required
                (so the importer can derive the net amount)
              - if both amount and vat-amount are present, they must be
                consistent with the given vat rate (importer will reconcile)
        -->
        <xs:attribute name="currency"   type="CurrencyType"   use="required"/>
        <xs:attribute name="amount"     type="PositiveAmount" use="optional"/>
        <xs:attribute name="vat-amount" type="PositiveAmount" use="optional"/>
        <xs:attribute name="vat"        type="VatRate"        use="optional"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         STOCK
         ═══════════════════════════════════════════ -->

    <xs:complexType name="StockType">
        <!-- on-hand — physical quantity available in stock (integer) -->
        <xs:attribute name="on-hand" type="PositiveAmount" use="required"/>
    </xs:complexType>

    <!-- ═══════════════════════════════════════════
         DIMENSIONS
         Fixed units: weight = kg, all other dimensions = mm.
         All numeric, so they stay as attributes.
         ═══════════════════════════════════════════ -->

    <xs:complexType name="DimensionsType">
        <xs:attribute name="weight" type="xs:decimal" use="optional"/>
        <!-- kg -->
        <xs:attribute name="width"  type="xs:decimal" use="optional"/>
        <!-- mm -->
        <xs:attribute name="height" type="xs:decimal" use="optional"/>
        <!-- mm -->
        <xs:attribute name="depth"  type="xs:decimal" use="optional"/>
        <!-- mm -->
    </xs:complexType>

</xs:schema>
